<section class="sheet-section attributes">
  <h2>Inherent / Attributes</h2>

  <div class="sheet-section-content odam-grid three">
    <div class="stat-box"><label>Strength <input type="number" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" min="1" /></label></div>
    <div class="stat-box"><label>Agility <input type="number" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" min="1" /></label></div>
    <div class="stat-box"><label>Endurance <input type="number" name="system.attributes.endurance.value" value="{{system.attributes.endurance.value}}" min="1" /></label></div>
    <div class="stat-box"><label>Perception <input type="number" name="system.attributes.perception.value" value="{{system.attributes.perception.value}}" min="1" /></label></div>
    <div class="stat-box"><label>Intelligence <input type="number" name="system.attributes.intelligence.value" value="{{system.attributes.intelligence.value}}" min="1" /></label></div>
    <div class="stat-box"><label>Charisma <input type="number" name="system.attributes.charisma.value" value="{{system.attributes.charisma.value}}" min="1" /></label></div>
  </div>
</section>