<section class="attributes">
  <h2>Attributes</h2>

  <label>
    Strength
    <input
      type="number"
      name="system.attributes.strength.value"
      value="{{system.attributes.strength.value}}"
      min="1"
    />
  </label>

  <label>
    Agility
    <input
      type="number"
      name="system.attributes.agility.value"
      value="{{system.attributes.agility.value}}"
      min="1"
    />
  </label>

  <label>
    Endurance
    <input
      type="number"
      name="system.attributes.endurance.value"
      value="{{system.attributes.endurance.value}}"
      min="1"
    />
  </label>

  <label>
    Perception
    <input
      type="number"
      name="system.attributes.perception.value"
      value="{{system.attributes.perception.value}}"
      min="1"
    />
  </label>

  <label>
    Intelligence
    <input
      type="number"
      name="system.attributes.intelligence.value"
      value="{{system.attributes.intelligence.value}}"
      min="1"
    />
  </label>

  <label>
    Charisma
    <input
      type="number"
      name="system.attributes.charisma.value"
      value="{{system.attributes.charisma.value}}"
      min="1"
    />
  </label>
</section>