<section class="sheet-section skills">
  <h2>Learned / Skills</h2>

  <div class="sheet-section-content odam-grid three">

    <div class="stat-box">
      <label>
        Academics
        <input
          type="number"
          name="system.skills.base.academics.value"
          value="{{system.skills.base.academics.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Athletics
        <input
          type="number"
          name="system.skills.base.athletics.value"
          value="{{system.skills.base.athletics.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Computers
        <input
          type="number"
          name="system.skills.base.computers.value"
          value="{{system.skills.base.computers.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Creative
        <input
          type="number"
          name="system.skills.base.creative.value"
          value="{{system.skills.base.creative.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Fighting
        <input
          type="number"
          name="system.skills.base.fighting.value"
          value="{{system.skills.base.fighting.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Firearms
        <input
          type="number"
          name="system.skills.base.firearms.value"
          value="{{system.skills.base.firearms.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Manual
        <input
          type="number"
          name="system.skills.base.manual.value"
          value="{{system.skills.base.manual.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Social
        <input
          type="number"
          name="system.skills.base.social.value"
          value="{{system.skills.base.social.value}}"
          min="0"
        />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Weaponry
        <input
          type="number"
          name="system.skills.base.weaponry.value"
          value="{{system.skills.base.weaponry.value}}"
          min="0"
        />
      </label>
    </div>

  </div>
</section>