<section class="odam-sheet-body">

  <header>
    <h1>{{document.name}}</h1>
  </header>

  <section class="attributes">

    <h2>Attributes</h2>

    <div>
      Strength: {{system.attributes.strength.value}}
    </div>

    <div>
      Agility: {{system.attributes.agility.value}}
    </div>

    <div>
      Endurance: {{system.attributes.endurance.value}}
    </div>

    <div>
      Perception: {{system.attributes.perception.value}}
    </div>

    <div>
      Intelligence: {{system.attributes.intelligence.value}}
    </div>

    <div>
      Charisma: {{system.attributes.charisma.value}}
    </div>

  </section>

  <section class="derived">

    <h2>Derived</h2>

    <div>
      Health: {{system.derived.health}}
    </div>

    <div>
      Stamina: {{system.derived.stamina}}
    </div>

    <div>
      Reaction: {{system.derived.reaction}}
    </div>

    <div>
      Shaping: {{system.derived.shaping}}
    </div>

  </section>

  <section class="pools">

    <h2>Pools</h2>

    <div>
      Conviction:
      {{system.pools.conviction.value}}
      /
      {{system.pools.conviction.max}}
    </div>

    <div>
      Nightmare: {{system.pools.nightmare}}
    </div>

    <div>
      Doubt: {{system.pools.doubt}}
    </div>

  </section>

</section>